{% extends "base.html" %}

{% block title %}Восстановление доступа{% endblock %}

{% block content %}
    <h1>Восстановление доступа</h1>
    <p>Введите ваш email, чтобы получить временный пароль.</p>

    <!-- Форма для ввода email -->
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Введите ваш email">
        </div>
        <button type="submit" class="btn-submit">Отправить временный пароль</button>
    </form>
    <!-- Ссылка на страницу входа -->
    <p>Уже есть пароль? <a href="{% url 'login' %}">Войдите здесь</a>.</p>
{% endblock %}