{% extends 'base.html' %}

{% block content %}
<h2>Профиль</h2>
<p>Имя пользователя: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>Телефон: {{ user.phone_number }}</p>
<p>Адрес: {{ user.address }}</p>
<p>Дата рождения: {{ user.date_of_birth }}</p>
{% if user.avatar %}
<img src="{{ user.avatar.url }}" alt="Avatar" width="100">
{% endif %}
<a href="{% url 'update_profile' %}">Изменить данные</a> |
<a href="{% url 'change_password' %}">Сменить пароль</a> |
<a href="{% url 'logout' %}">Выйти</a>
{% endblock %}